* {
  margin: 0;
  font-family: "Roboto";
}
.main__container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(6, 1fr);
  width: 100vw;
  height: 100vh;
}

.main__container-sidebar {
  background-color: #1992d4;
  grid-area: 1 / 1 / 7 / 1;
}

.main__container-header {
  background-color: #ffffff;
  grid-area: 1 / 2 / 2 / 6;
}
.main__container-content {
  background-color: #e2e8f0;
  grid-area: 2 / 2 / 7 / 6;
}

/* Sidebar */
.sidebar__container {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  margin: 2rem;
  row-gap: 3rem;
  max-height: 50vh;
}

.sidebar__container-dashboard {
  display: grid;
  grid-template-columns: 0.25fr 1fr;
}

.sidebar-title {
  font-size: 1.5rem;
  font-weight: 700;
  color: #ffffff;
}

.sidebar__container-options {
  display: grid;
  grid-template-columns: 0.25fr 1fr;
}

.sidebar-options-text {
  display: grid;
  color: #ffffff;
  font-weight: 700;
  font-size: 1.2rem;
  row-gap: 1rem;
}

.sidebar-options-logos {
  display: grid;
  row-gap: 1rem;
}

/* Header */
.header__container {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: 1.5fr 1fr;
  height: 100%;
}

.search-bar {
  display: flex;
  margin: 1rem;
  align-items: center;
}

#search {
  margin-right: 1rem;
}

#search-input {
  width: 80%;
  height: 25px;
  border-radius: 20px;
  border: none;
  background-color: #e1e8f0;
}
